---
import MyPhoto from "../../assets/img/sudip.jpeg";
---

<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MyPhoto.src}
      alt="my photo"
      class="h-full w-full object-cover"
    />
  </div>

  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      My name is <span class="text-white text-shadow">Sudip Kandel</span>
    </h2>
    <p class="mt-4">
       I am a full-stack software developer, with a focus on
        <span class="text-primary font-semibold">back-end development</span> and 
        <span class="text-primary font-semibold">user experience</span>,
         working on both frontend and backend, integrating interfaces, business logic, APIs, and databases according to the needs of each project.
          I work with technologies like React, Node.js, Nextjs, JavaScript, TypeScript, Tailwind CSS among others.
    </p>
    <p class="mt-2">
      My interest in <span class="text-primary font-semibold"
        >technology</span
      > and
      <span class="text-primary font-semibold">programming</span> began while I was studying a 
      <span class="text-primary font-semibold"
        >BCA</span
      > at
      <span class="text-primary font-semibold">Tribhuvan University</span>. In my <span
        class="text-primary font-semibold">computer science</span
      >  class, I had my first contact with the world of programming. Motivated by <span class="text-primary font-semibold">curiosity</span>, I continued studying and decided that this was what I wanted to pursue at a <span class="text-primary font-semibold">professional</span> level.
    </p>
   <p class="mt-2">
    I am always committed to <span class="text-primary font-semibold">constant growth</span> and <span class="text-primary font-semibold">improvement</span> in my skills, seeking to adapt to new <span class="text-primary font-semibold">technological advancements</span> and to push myself forward both <span class="text-primary font-semibold">professionally</span> and <span class="text-primary font-semibold">personally</span>.
  </p>
  </div>
</div>
